
{erl_opts, [{parse_transform, lager_transform}, warnings_as_errors]}.

{deps, [
    {lager, {git, "https://github.com/basho/lager.git",
             {tag, "3.2.3"}}},
    {cowboy, {git, "https://github.com/ninenines/cowboy.git",
              {branch, "master"}}},
    {jsx, {git, "https://github.com/talentdeficit/jsx.git",
           {tag, "v2.8.1"}}},
    {exometer_core, {git, "https://github.com/Feuerlabs/exometer_core.git",
                     {tag, "1.4"}}},

    {eper, {git, "https://github.com/massemanet/eper.git",
            {branch, "master"}}}
]}.

{profiles, [
    {test, [
        {deps, [
            {gun, {git, "git://github.com/ninenines/gun.git"}}
        ]}
    ]}
]}.

{plugins, [rebar3_auto]}.

{shell, [{config, "config/sys.config"}]}.

{relx, [
    {release, {iris, "0.1"}, [iris, eper]},

    {sys_config, "./config/sys.config"},
    %{overlay, [
    %    {template, "config/sys.config", "releases/{{release_version}}/sys.config"}
    %]},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}
]}.

