<!doctype html>
<html ng-app="chat">
<head> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-resource.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="js/chat.js"></script>
</head>
<body ng-controller="ChatController as chat">
<br/>
<div class="container">
  <div class="row">
    <div class="col-md-4">
    
      <div class="dropdown" style="display: inline-block">
        <button type="button" class="btn btn-default dropdown-toggle"
                id="servers" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="true">
          Connect <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="servers">
          <li><a href="#" ng-click="chat.connect(4000)">4000</a></li>
          <li><a href="#" ng-click="chat.connect(8181)">8181</a></li>
        </ul>
      </div>

      <button type="button" id="login" class="btn btn-default"
              ng-click="chat.showLoginDialog()">
        Log in <span class="glyphicon glyphicon-user"></span>
      </button>
      <button type="button" id="logout" class="btn btn-default"
              ng-click="chat.logout()">
        Logout <span class="glyphicon glyphicon-off"></span>
      </button>
      <button type="button" class="btn btn-default"
              ng-click="chat.showChannelDialog()">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
      <button type="button" class="btn btn-default"
              ng-click="chat.reload()">
        <span class="glyphicon glyphicon-refresh"></span>
      </button>

      <br/>
      <br/>

      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Channels ({{chat.user}})</h4>
          <ul class="list-group">
            <li ng-repeat="channel in chat.channels" class="list-group-item">
              <a href="#" ng-click="chat.selectChannel(channel.id)">{{channel.name}}</a>
              <span class="badge pull-right">{{channel.unread}}</span>
              <span class="glyphicon glyphicon-share pull-right"
                    ng-click="chat.leaveChannel(channel.id)"></span>
              <span class="glyphicon glyphicon-remove pull-right"
                    ng-click="chat.archiveChannel(channel.id)"
                    ng-if="channel.owner == chat.user"></span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <div id="chat" class="pre-scrollable" style="height: 300px">
          </div>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Hey"
                   ng-model="chat.text">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="chat.sendText()">
                Send
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div id="log" class="pre-scrollable" style="height: 150px">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Login dialog -->
<div id="log-in" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Log in</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Username</label>
          <input type="text" class="form-control" id="username" ng-model="chat.user">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" id="password" ng-model="chat.pass">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="chat.login()">Log in</button>
      </div>
    </div>
  </div>
</div>

<!-- Create channel dialog -->
<div id="create-channel" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Create channel</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Channel name</label>
          <input type="text" class="form-control" id="channelname"
                 ng-model="chat.channelName">
        </div>
        <div class="form-group">
          <label>Invited (comma separated usernames)</label>
          <input type="text" class="form-control" id="channelusers"
                 ng-model="chat.channelUsers">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"
                ng-click="chat.createChannel()">
          Create
        </button>
      </div>
    </div>
  </div>
</div>

</body>
</html>
