[
 {iris, [
    {http, [
        {port, 8181}
    ]},

    {database, [
        {backend, iris_db_mnesia}
    ]},

    {modules, [
        {iris_mod_register, []}
    ]}
 ]},

 {lager, [
    {handlers, [
        {lager_console_backend, [
            debug,
            {lager_default_formatter, [
                time, " [", severity, "] ",
                {pid, [pid, " "], ""},
                {module, ["[", module, ":", line, "] "], ""},
                message, "\n"]}
        ]},
        {lager_file_backend, [{file, "log/error.log"}, {level, error}]}
    ]}
 ]}
].

